<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smacon.fish2marine">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/f2mlogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/f2mlogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCGfp_oJ1ltkOtWYyU8OVjZFeuSQqDOmXk"/>
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".NavigationDrawerActivity"></activity>
        <activity android:name=".LoginActivity"></activity>
        <activity android:name=".SignUpActivity"></activity>
        <activity android:name=".EditProfileActivity"></activity>
        <activity android:name=".ProductDescriptionActivity"></activity>
        <activity android:name=".ProductViewActivity"></activity>
        <activity android:name=".SubClasses.CutTypesActivity"></activity>
        <activity android:name=".SubClasses.AllProductCutTypesActivity"></activity>
        <activity android:name=".MyCartActivity"></activity>
        <activity android:name=".UpdateProductActivity"></activity>
        <activity android:name=".CheckOut.Checkout_SetAddress"></activity>
        <activity android:name=".OrderSummaryActivity"></activity>
        <activity android:name=".SuccessActivity"></activity>
        <activity android:name=".CCAvenuePayment.WebViewActivity"></activity>
        <activity android:name=".CCAvenuePayment.StatusActivity"></activity>
        <activity android:name=".OrderDetailsActivity"></activity>
        <activity android:name=".GoogleLoginProfileActivity"></activity>
        <activity android:name=".ForgotPasswordActivity"></activity>
        <activity android:name=".ResetPasswordActivity"></activity>
    </application>
</manifest>
